<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-title>Kitchen Display</ion-title>
    <ion-buttons slot="end">
      <ion-badge color="warning" class="ion-margin-end">
        {{ activeOrders.length }} Pending
      </ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #010000;">
  <div class="kds-grid">
    <div class="order-ticket" *ngFor="let order of activeOrders">
      <div class="ticket-header">
        <span class="table-name">{{ order.tableName }}</span>
        <span class="order-time">{{ getTimeDifference(order.createdAt) }}m ago</span>
      </div>

      <div class="ticket-body">
        <ion-list lines="none" class="item-list">
          <ion-item *ngFor="let item of order.items">
            <ion-label>
              <h2 class="item-display">
                <span class="qty">{{ item.qty }}x</span> {{ item.name }}
              </h2>
            </ion-label>
            <ion-icon name="ellipse" [color]="item.type === 'Veg' ? 'success' : 'danger'" slot="end" size="small"></ion-icon>
          </ion-item>
        </ion-list>
      </div>

      <div class="ticket-footer">
        <ion-button expand="block" color="success" (click)="completeOrder(order)">
          MARK AS READY
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>