<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-title>Kitchen Display</ion-title>
    <ion-buttons slot="end">
      <ion-badge color="warning" class="ion-margin-end">
        {{ activeOrders.length }} Pending
      </ion-badge>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content style="--background: #ffffff;">
  <div class="kds-grid">
    <div class="order-ticket" *ngFor="let order of activeOrders">
      <div class="ticket-header" [ngClass]="getTimeDifference(order.createdAt) > 10 ? 'urgent' : 'normal'">
        <div class="header-main">
          <span class="table-badge">{{ order.tableName }}</span>
          <span class="timer">
            <ion-icon name="time-outline"></ion-icon> 
            {{ getTimeDifference(order.createdAt) }}m ago
          </span>
        </div>
      </div>

      <div class="ticket-body">
        <div class="item-row" *ngFor="let item of order.items">
          <div class="qty-box">{{ item.qty }}</div>
          
          <div class="item-details">
            <h2 class="item-name">{{ item.name | uppercase }}</h2>
            <p class="item-category" *ngIf="item.type">
               <ion-icon name="ellipse" [color]="item.type === 'Veg' ? 'success' : 'danger'"></ion-icon>
               {{ item.type }}
            </p>
          </div>
        </div>
      </div>

      <div class="ticket-footer">
        <ion-button expand="block" mode="ios" (click)="completeOrder(order)">
          <ion-icon name="checkmark-done-circle" slot="start"></ion-icon>
          MARK AS READY
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>