<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-title>Masters</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="--background: #ffffff;">
  <div class="card-container">
    
    <ion-card mode="ios" button routerLink="/category" class="master-card">
      <ion-item lines="none">
        <ion-icon slot="start" name="grid" color="primary"></ion-icon>
        <ion-label>
          <h2 class="card-title">Category Master</h2>
          <p>Organize food and drinks</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card mode="ios" button routerLink="/menu-items" class="master-card">
      <ion-item lines="none">
        <ion-icon slot="start" name="restaurant" color="success"></ion-icon>
        <ion-label>
          <h2 class="card-title">Menu Items</h2>
          <p>Prices, descriptions & images</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card mode="ios" button routerLink="/tables" class="master-card">
      <ion-item lines="none">
        <ion-icon slot="start" name="tablet-landscape" color="warning"></ion-icon>
        <ion-label>
          <h2 class="card-title">Table Setup</h2>
          <p>Define seating and sections</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card mode="ios" button routerLink="/staff" class="master-card">
      <ion-item lines="none">
        <ion-icon slot="start" name="people" color="tertiary"></ion-icon>
        <ion-label>
          <h2 class="card-title">Staff Management</h2>
          <p>Staff Creation based on role</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-card>

    <ion-card mode="ios" button routerLink="/role" class="master-card" *ngIf="permissions?.roleName === 'Admin'">
      <ion-item lines="none">
        <ion-icon slot="start" name="people" color="tertiary"></ion-icon>
        <ion-label>
          <h2 class="card-title">Role Master</h2>
          <p>roles Creation</p>
        </ion-label>
        <ion-icon name="chevron-forward" slot="end" color="medium"></ion-icon>
      </ion-item>
    </ion-card>

  </div>
</ion-content>