ion-content {
  --background: #ffffff; // Ensures pure white background
}

ion-header {
  ion-toolbar {
    &.header-toolbar {
      --background: #2563eb;
      --color: white;
    }
  }
}

.card-container {
  padding: 10px;
}

.master-card {
  margin-bottom: 12px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05); // Soft shadow
  
  ion-item {
    --background: transparent;
    padding: 8px 0;
  }

  ion-icon {
    font-size: 28px;
    margin-right: 15px;
  }

  .card-title {
    font-weight: 700;
    color: #333;
    font-size: 1.1rem;
  }

  p {
    font-size: 0.85rem;
    color: #666;
  }
}