<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="profile-content">
  <div class="profile-image-wrapper">
    <img src="https://ionicframework.com/docs/img/demos/avatar.svg" alt="Profile" class="profile-image" />
  </div>

  <div class="profile-info ion-padding">
    <div class="full-name">{{ userData?.fullname || 'Vinay Sakala' }}</div>



    <ion-row class="ion-margin-top">
      <ion-col size="12">
        <ion-button expand="block" fill="outline" color="primary" class="action-btn">
          Edit Profile
        </ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="block" fill="outline" color="danger" class="action-btn" (click)="onSignOut()">
          Sign Out
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>