ion-header {
  ion-toolbar {
    &.header-toolbar {
      --background: #2563eb;
      --color: white;
    }
  }
}

.user-info {
  padding: 20px 0;
  
  h2 {
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    color: #1f2937;
  }
  
}

.initial-circle {
  border-radius: 50%;
  border: 3px solid #f4f4f4;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.icon-style{
    --color: #8e8e8e;
    --padding-end: 0;
    height: 24px;
    font-size: 17px;
}
